<div class="copy-section">
	<div class="container">
		<div class="copy-left">
			<div class="social-icon">
				<p>Hecho con ❤️ por <a href="https://www.facebook.com/PuppyGoPeru" target="_blank">Puppy Store</a></p>	
			</div>
			</div>
		<div class="copy-right">
			<div class="social-icon">
				<a href="https://www.facebook.com/PuppyGoPeru" target="_blank"><i class="icon"></i></a>
				<a href="https://wa.link/1psy9f" target="_blank"><i class="icon1"></i></a>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>