<div class="header">
    <div class="header-top">
        <div class="container">
            <div class="top-right">
            <ul>
                <li><a href="https://wa.link/1psy9f" target="_blank">Whatsapp <i class="glyphicon glyphicon-phone" aria-hidden="true"></i> +51 921 482 286</a></li>
            </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="heder-bottom">
        <div class="container">
            <div class="logo-nav">
                <div class="logo-nav-left">
                    <h1><a href="index.html"><img src="images/logo.png"></a></h1>
                </div>
                <div class="logo-nav-left1">
                    <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header nav_2">
                        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div> 
                    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                        <ul class="nav navbar-nav">
                            <li><a href="novedades.html">Novedades</a></li>
                            <li><a href="ofertas.html">Ofertas</a></li>
                            <li><a href="adidas.html">Adidas</a></li>
                            <li><a href="nike.html">Nike</a></li>
                            <li><a href="puma.html">Puma</a></li>
                            <li><a href="otros.html">Otras Marcas</a></li>
                            <li><a href="ubicanos.html">Ubícanos</a></li>
                        </ul>
                    </div>
                    </nav>
                </div>
            
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>