<!--
Au<!--
Author: Puppy Store
Author URL: https://www.facebook.com/PuppyGoPeru
-->
<!DOCTYPE HTML>
<html>
<head>
<!--meta-->
<title>Compra en línea Zapatillas y Zapatos de moda, Envíos gratis. | Puppy Store</title>
<link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
<link href="https://puppy-peru-dev.web.app" rel="canonical">
<meta name="description" content="Compra en línea Zapatillas y Zapatos de moda, Envíos gratis. Entra aquí y descubre lo nuevo en zapatos y zapatillas. Ofertas Descuentos.">
<meta property="og:locale" content="es_ES">
<meta property="og:type" content="product">
<meta property="og:url" content="https://puppy-peru-dev.web.app">
<meta property="og:title" content="Compra en línea Zapatillas y Zapatos de moda, Envíos gratis. | Puppy Store">
<meta property="og:description" content="Compra en línea Zapatillas y Zapatos de moda, Envíos gratis. Entra aquí y descubre lo nuevo en zapatos y zapatillas. Ofertas Descuentos.">
<meta property="og:image" content="https://puppy-peru-dev.web.app/images/meta.png">
<meta property="og:image:secure_url" content="https://puppy-peru-dev.web.app/images/meta.png">
<meta property="og:site_name" content="Puppy Store">
<meta name="twitter:card" content="photo">
<meta name="twitter:creator" content="@PuppyStore">
<meta name="twitter:title" content="Compra en línea Zapatillas y Zapatos de moda, Envíos gratis. | Puppy Store">
<meta name="twitter:description" content="Compra en línea Zapatillas y Zapatos de moda, Envíos gratis. Entra aquí y descubre lo nuevo en zapatos y zapatillas. Ofertas Descuentos."><meta name="twitter:image" content="https://puppy-peru-dev.web.app/images/meta.png">
<meta name="twitter:image:width" content="200">
<meta name="twitter:image:height" content="200">

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Puppy Store, Zapatos, Zapatillas, Moda" />
<!--meta-->
<!--css-->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/font-awesome.css" rel="stylesheet">
<!--css-->
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="js/jquery.min.js"></script>
<link href='//fonts.googleapis.com/css?family=Cagliostro' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300' rel='stylesheet' type='text/css'>
<!--search jQuery-->
	<script src="js/main.js"></script>
<!--search jQuery-->

 <!--mycart-->
<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>
 <!-- cart -->
<script src="js/simpleCart.min.js"></script>
<!-- cart -->
  
</head>
<body>
	<!--header-->
	{% include 'template/header.html' %}
		<!--header-->
		<!--banner-->
		<div class="banner1">
		</div>
	<!--banner-->
		<!--content-->
			<div class="content">
				<!--contact-->
					<div class="mail-w3ls">
						<div class="container">
							<h2 class="tittle">Visítanos</h2>
							<div class="mail-grids">
								<div class="mail-top">
									<div class="col-md-6 mail-grid">
										<i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
										<h5>Dirección</h5>
										<p>Centro Comercial Mercaderes - Stand 21 (2do piso) - Jr. Huánuco #350 - Huancayo</p>
									</div>
									<div class="col-md-6 mail-grid">
										<i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>
										<h5>Teléfono</h5>
										<p>Whatsapp:  +51 921 482 286</p>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="map-w3">
								<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d975.3929225407667!2d-75.20711694171342!3d-12.072963194657769!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x910e96518a1e5b31%3A0x5e4651ec601e6cbc!2sCentro%20Comercial%20Mercaderes!5e0!3m2!1ses-419!2sus!4v1621063382644!5m2!1ses-419!2sus"  allowfullscreen></iframe>
								</div>
							</div>
						</div>
					</div>
				<!--contact-->
			</div>
		<!--content-->
		<!---footer--->
					<!---footer--->
					<!--copy-->
					{% include 'template/footer.html' %}
				<!--copy-->
</body>
</html>