{% for i in data[:4] %}
    <div class="col-md-3 arrival-grid simpleCart_shelfItem">
    	<div class="grid-arr">
    		<div  class="grid-arrival">
    			<figure>		
    				<a href="{{i['single_path']}}">
						{% for f in i['fotos'] %}
    					<div class="grid-img">
    						<img  src="{{f}}" class="img-responsive"  alt="">
						</div>
						{% endfor %}			
    				</a>		
    			</figure>	
    		</div>
    		<div class="ribben1">
    			<p>-{{i['descuento']}}%</p>
			</div>
			<div class="block">
				<div class="starbox small ghosting"> </div>
			</div>
    		<div class="women">
    			<h6><a href="{{i['single_path']}}">{{i['marca_modelo']}}</a></h6>
    			<span class="size">{{i['tallas']}}</span>
    			<p ><del>S/. {{i['precio_normal']}}</del><em class="item_price"> S/. {{i['precio_oferta']}}</em></p>
    			<a href="{{i['single_path']}}" data-text="Add To Cart" class="my-cart-b item_add">Ver</a>
    		</div>
    	</div>
    </div>
{% endfor %}