<!--
Au<!--
Author: Puppy Store
Author URL: https://www.facebook.com/PuppyGoPeru
-->
<!DOCTYPE HTML>
<html>
<head>
<!--meta-->
<title>Compra en línea Zapatillas y Zapatos de moda, Envíos gratis. | Puppy Store</title>
<link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
<link href="https://puppy-peru-dev.web.app" rel="canonical">
<meta name="description" content="Compra en línea Zapatillas y Zapatos de moda, Envíos gratis. Entra aquí y descubre lo nuevo en zapatos y zapatillas. Ofertas Descuentos.">
<meta property="og:locale" content="es_ES">
<meta property="og:type" content="product">
<meta property="og:url" content="https://puppy-peru-dev.web.app">
<meta property="og:title" content="Compra en línea Zapatillas y Zapatos de moda, Envíos gratis. | Puppy Store">
<meta property="og:description" content="Compra en línea Zapatillas y Zapatos de moda, Envíos gratis. Entra aquí y descubre lo nuevo en zapatos y zapatillas. Ofertas Descuentos.">
<meta property="og:image" content="https://puppy-peru-dev.web.app/images/meta.png">
<meta property="og:image:secure_url" content="https://puppy-peru-dev.web.app/images/meta.png">
<meta property="og:site_name" content="Puppy Store">
<meta name="twitter:card" content="photo">
<meta name="twitter:creator" content="@PuppyStore">
<meta name="twitter:title" content="Compra en línea Zapatillas y Zapatos de moda, Envíos gratis. | Puppy Store">
<meta name="twitter:description" content="Compra en línea Zapatillas y Zapatos de moda, Envíos gratis. Entra aquí y descubre lo nuevo en zapatos y zapatillas. Ofertas Descuentos."><meta name="twitter:image" content="https://puppy-peru-dev.web.app/images/meta.png">
<meta name="twitter:image:width" content="200">
<meta name="twitter:image:height" content="200">

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Puppy Store, Zapatos, Zapatillas, Moda" />
<!--meta-->
<!--css-->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
<!--css-->
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="js/jquery.min.js"></script>
<link href='//fonts.googleapis.com/css?family=Cagliostro' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300' rel='stylesheet' type='text/css'>
<!--search jQuery-->
	<script src="js/main.js"></script>
<!--search jQuery-->

 <!--mycart-->
<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>
 <!-- cart -->
<script src="js/simpleCart.min.js"></script>
<!-- cart -->
  
</head>
<body>
	<!--header-->
	{% include 'template/header.html' %}
		<!--header-->
		<!--banner-->
		<div class="banner1">
			<div class="container">
				<h3><a href="#">{{sheet_name.upper()}}</a></h3>
			</div>
		</div>
	<!--banner-->
		<!--content-->
			<div class="content">
				<div class="products-agileinfo">
						<h2 class="tittle">Catálogo</h2>
					<div class="container">
						<div class="product-agileinfo-grids w3l">
							<div class="col-md-3 product-agileinfo-grid">
								<div class="categories">
									<h3>Otros Catálogos</h3>
									<ul class="tree-list-pad">
										<li><a href="nike.html">Nike</a></li>
										<li><a href="puma.html">Puma</a></li>
										<li><a href="adidas.html">Adidas</a></li>
										<li><a href="ofertas.html">Ofertas</a></li>
										<li><a href="novedades.html">Novedades</a></li>
										<li><a href="otros.html">Otras Marcas</a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-9 product-agileinfon-grid1 w3l">
								<div class="product-agileinfon-top">
									<div class="col-md-6 product-agileinfon-top-left">
										<img class="img-responsive " src="images/delivery.png" alt="">
									</div>
									<div class="col-md-6 product-agileinfon-top-left">
										<img class="img-responsive " src="images/delivery1.png" alt="">
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="mens-toolbar">
									<div class="clearfix"></div>		
								</div>
								<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
									
									<div id="myTabContent" class="tab-content">
										<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
											{% for slice_data in data %}
											<div class="product-tab prod2">
												{% for i in  slice_data %}
												<div class="col-md-4 product-tab-grid simpleCart_shelfItem">
													<div class="grid-arr">
														<div  class="grid-arrival">
															<figure>		
																<a href="{{i['single_path']}}" class="new-gri">
																	{% for f in i['fotos'] %}
																	<div class="grid-img">
																		<img  src="{{f}}" class="img-responsive" alt="">
																	</div>
																	{% endfor %}			
																</a>		
															</figure>	
														</div>
														<div class="block">
															<div class="starbox small ghosting"> </div>
														</div>
														<div class="women">
															<h6><a href="{{i['single_path']}}">{{i['marca_modelo']}}</a></h6>
															<span class="size">{{i['tallas']}} </span>
															<p ><em class="item_price">S/. {{i['precio_normal']}}</em></p>
															<a href="{{i['single_path']}}" data-text="Add To Cart" class="my-cart-b item_add">Ver</a>
														</div>
													</div>
												</div>
												{% endfor %}
												<div class="clearfix"></div>
											</div>
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
			</div>
		<!--content-->
		<!---footer--->
					<!--copy-->
					{% include 'template/footer.html' %}
				<!--copy-->
				

</body>
</html>