<!--
Au<!--
Author: Puppy Store
Author URL: https://www.facebook.com/PuppyGoPeru
-->
<!DOCTYPE HTML>
<html>
<head>
<!--meta-->
<title>{{marca_modelo}} | Puppy Store</title>
<link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
<link href="{{firebase_url}}" rel="canonical">
<meta name="description" content="Compra en línea Zapatillas y Zapatos de moda, Envíos gratis. Entra aquí y descubre lo nuevo en zapatos y zapatillas. Ofertas Descuentos.">
<meta property="og:locale" content="es_ES">
<meta property="og:type" content="product">
<meta property="og:url" content="{{firebase_url}}">
<meta property="og:title" content="{{marca_modelo}} | Puppy Store">
<meta property="og:description" content="Compra en línea Zapatillas y Zapatos de moda, Envíos gratis. Entra aquí y descubre lo nuevo en zapatos y zapatillas. Ofertas Descuentos.">
<meta property="og:image" content="https://puppy-peru-dev.web.app/{{fotos[-1]}}">
<meta property="og:image:secure_url" content="https://puppy-peru-dev.web.app/{{fotos[-1]}}">
<meta property="og:site_name" content="Puppy Store">
<meta name="twitter:card" content="photo">
<meta name="twitter:creator" content="@PuppyStore">
<meta name="twitter:title" content="{{marca_modelo}} | Puppy Store">
<meta name="twitter:description" content="Compra en línea Zapatillas y Zapatos de moda, Envíos gratis. Entra aquí y descubre lo nuevo en zapatos y zapatillas. Ofertas Descuentos."><meta name="twitter:image" content="https://puppy-peru-dev.web.app/{{fotos[-1]}}">
<meta name="twitter:image:width" content="200">
<meta name="twitter:image:height" content="200">

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Puppy Store, Zapatos, Zapatillas, Moda" />
<!--meta-->
<!--css-->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/font-awesome.css" rel="stylesheet">
<!--css-->
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="js/jquery.min.js"></script>
<link href='//fonts.googleapis.com/css?family=Cagliostro' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300' rel='stylesheet' type='text/css'>
<!--search jQuery-->
	<script src="js/main.js"></script>
<!--search jQuery-->
<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>
 <!-- cart -->
<script src="js/simpleCart.min.js"></script>
<!-- cart -->
  <script defer src="js/jquery.flexslider.js"></script>
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
<script src="js/imagezoom.js"></script>
<script>
// Can also be used with $(document).ready()
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide",
    controlNav: "thumbnails"
  });
});
</script>

  <!--mycart-->
  <!--start-rate-->
<script src="js/jstarbox.js"></script>
	<link rel="stylesheet" href="css/jstarbox.css" type="text/css" media="screen" charset="utf-8" />
		<script type="text/javascript">
			jQuery(function() {
			jQuery('.starbox').each(function() {
				var starbox = jQuery(this);
					starbox.starbox({
					average: starbox.attr('data-start-value'),
					changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
					ghosting: starbox.hasClass('ghosting'),
					autoUpdateAverage: starbox.hasClass('autoupdate'),
					buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
					stars: starbox.attr('data-star-count') || 5
					}).bind('starbox-value-changed', function(event, value) {
					if(starbox.hasClass('random')) {
					var val = Math.random();
					starbox.next().text(' '+val);
					return val;
					} 
				})
			});
		});
		</script>
<!--//End-rate-->
<link href="css/owl.carousel.css" rel="stylesheet">
<script src="js/owl.carousel.js"></script>
	<script>
		$(document).ready(function() {
		$("#owl-demo").owlCarousel({
			items : 1,
			lazyLoad : true,
			autoPlay : true,
			navigation : false,
			navigationText :  false,
			pagination : true,
		});
		});
	</script>

</head>
<body>
	<!--header-->
	{% include 'template/header.html' %}
		<!--header-->
		<!--banner-->
		<div class="banner1">
			<div class="container">
				<h3><a href="#">{{marca_modelo.title()}}</a></h3>
			</div>
		</div>
	<!--banner-->

	<!--content-->
		<div class="content">
			<!--single-->
			<div class="single-wl3">
				<div class="container">
					<div class="single-grids">
						<div class="col-md-12 single-grid">
							<div clas="single-top">
								<div class="single-left">
									<div class="flexslider">
										<ul class="slides">
											{% for f in fotos %}
											<li data-thumb="{{f}}">
												<div class="thumb-image"> <img src="{{f}}" data-imagezoom="true" class="img-responsive"> </div>
											</li>
											{% endfor %}
											
										 </ul>
									</div>
								</div>
								<div class="single-right simpleCart_shelfItem">
									<h4>{{marca_modelo}}</h4>
									<p class="price item_price">S/. {{precio_normal}}</p>
									<div class="description">
										<p><span>Descripción : </span> {{descripcion}}</p>
										{% for c in caracteristicas %}
										<p>* {{c}}</p>
										{% endfor %}
									</div>
									<h4> </h4> 
									<div class="description">
										<p><span>Colores : </span> {{colores}}</p>
									</div>
									<div class="description">
										<p><span>Tallas : </span> {{tallas}}</p>
									</div>
									<div class="description">
										<p><span>Género : </span> {{genero}}</p>
									</div>
									<br>
									<a href="{{wsp_comprar}}" target="_blank" data-text="Add To Cart" class="my-cart-b item_add">Comprar</a>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						
						<div class="clearfix"> </div>
					</div>
					
				</div>
			</div>
			<!--single-->
			<div class="new-arrivals-w3agile">
					<div class="container">
						<h3 class="tittle1">Ofertas</h3>
						<div class="arrivals-grids">
							{% include 'tmp/ofertas_div.html' %}
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			<!--new-arrivals-->
		</div>
		<!--content-->
		<!---footer--->
					<!---footer--->
					<!--copy-->
					{% include 'template/footer.html' %}
				<!--copy-->
				
</body>
</html>