
    <div class="col-md-3 arrival-grid simpleCart_shelfItem">
    	<div class="grid-arr">
    		<div  class="grid-arrival">
    			<figure>		
    				<a href="ofertas_1.html">
						
    					<div class="grid-img">
    						<img  src="data/ofertas/f2.png" class="img-responsive"  alt="">
						</div>
						
    					<div class="grid-img">
    						<img  src="data/ofertas/f1.png" class="img-responsive"  alt="">
						</div>
									
    				</a>		
    			</figure>	
    		</div>
    		<div class="ribben1">
    			<p>-30%</p>
			</div>
			<div class="block">
				<div class="starbox small ghosting"> </div>
			</div>
    		<div class="women">
    			<h6><a href="ofertas_1.html">Oferta Sb Adversary 1</a></h6>
    			<span class="size">40 / 41 / 42</span>
    			<p ><del>S/. 100</del><em class="item_price"> S/. 70</em></p>
    			<a href="ofertas_1.html" data-text="Add To Cart" class="my-cart-b item_add">Ver</a>
    		</div>
    	</div>
    </div>

    <div class="col-md-3 arrival-grid simpleCart_shelfItem">
    	<div class="grid-arr">
    		<div  class="grid-arrival">
    			<figure>		
    				<a href="ofertas_2.html">
						
    					<div class="grid-img">
    						<img  src="data/ofertas/f4.png" class="img-responsive"  alt="">
						</div>
						
    					<div class="grid-img">
    						<img  src="data/ofertas/f3.png" class="img-responsive"  alt="">
						</div>
									
    				</a>		
    			</figure>	
    		</div>
    		<div class="ribben1">
    			<p>-30%</p>
			</div>
			<div class="block">
				<div class="starbox small ghosting"> </div>
			</div>
    		<div class="women">
    			<h6><a href="ofertas_2.html">Oferta Sb Adversary 2</a></h6>
    			<span class="size">40 / 41 / 43</span>
    			<p ><del>S/. 101</del><em class="item_price"> S/. 71</em></p>
    			<a href="ofertas_2.html" data-text="Add To Cart" class="my-cart-b item_add">Ver</a>
    		</div>
    	</div>
    </div>

    <div class="col-md-3 arrival-grid simpleCart_shelfItem">
    	<div class="grid-arr">
    		<div  class="grid-arrival">
    			<figure>		
    				<a href="ofertas_3.html">
						
    					<div class="grid-img">
    						<img  src="data/ofertas/f2.png" class="img-responsive"  alt="">
						</div>
						
    					<div class="grid-img">
    						<img  src="data/ofertas/f1.png" class="img-responsive"  alt="">
						</div>
									
    				</a>		
    			</figure>	
    		</div>
    		<div class="ribben1">
    			<p>-29%</p>
			</div>
			<div class="block">
				<div class="starbox small ghosting"> </div>
			</div>
    		<div class="women">
    			<h6><a href="ofertas_3.html">Oferta Sb Adversary 3</a></h6>
    			<span class="size">40 / 41 / 44</span>
    			<p ><del>S/. 102</del><em class="item_price"> S/. 72</em></p>
    			<a href="ofertas_3.html" data-text="Add To Cart" class="my-cart-b item_add">Ver</a>
    		</div>
    	</div>
    </div>

    <div class="col-md-3 arrival-grid simpleCart_shelfItem">
    	<div class="grid-arr">
    		<div  class="grid-arrival">
    			<figure>		
    				<a href="ofertas_4.html">
						
    					<div class="grid-img">
    						<img  src="data/ofertas/f4.png" class="img-responsive"  alt="">
						</div>
						
    					<div class="grid-img">
    						<img  src="data/ofertas/f3.png" class="img-responsive"  alt="">
						</div>
									
    				</a>		
    			</figure>	
    		</div>
    		<div class="ribben1">
    			<p>-29%</p>
			</div>
			<div class="block">
				<div class="starbox small ghosting"> </div>
			</div>
    		<div class="women">
    			<h6><a href="ofertas_4.html">Oferta Sb Adversary 4</a></h6>
    			<span class="size">40 / 41 / 45</span>
    			<p ><del>S/. 103</del><em class="item_price"> S/. 73</em></p>
    			<a href="ofertas_4.html" data-text="Add To Cart" class="my-cart-b item_add">Ver</a>
    		</div>
    	</div>
    </div>
